@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: hsl(218, 28%, 13%);
    max-width: 1440px;
    color: white;
    font-size: 0.8rem; 
    padding-top: 50px; /* Mudar pra resolução mobo*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

p {
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;  
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

ul{
    list-style-type: none;
}

.main-header {
    width: 100vw;  
}

#header-container {
    max-width: 1440px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    align-items: center;  
}

.menu-items {
    display: flex;
    list-style: none;  
}

.menu-item {
    margin: 0 25px;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
}

.main {
    width: 100vw;
}

#main-container {
    max-width: 1440px;
    margin: auto;
    padding: 0 40px;
}

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.intro-h2 {
    text-align: center;
    margin: 25px 0;
    width: 720px;
}

.intro-p {
    font-size: 1.2rem;
    font-weight: 400;
    width: 620px;
    text-align: center;
}

.intro-btn {
    width: 200px;
    height: 50px;
    border-radius: 60px;
    color: white;
    background: hsl(198, 60%, 50%);
    border: none;
    margin-top: 25px;
    cursor: pointer;

}

.services-section {
    display: grid;
    grid-template-areas: "access        security"
                         "collaboration storage";
    gap: 100px;
    text-align: center;
}

#access-article {
    grid-area: access;
    justify-self: end;
}

#security-article {
    grid-area: security;
}

#collaboration-article {
    grid-area: collaboration;
    justify-self: end;
}

#storage-article {
    grid-area: storage;
}

.articles {
    width: 65%;
}

.articles > h3 {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    margin: 20px 0 10px
}

.articles > p {
    font-size: 0.9rem;
}

.productive-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}


.productive-section-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    margin-left: 50px;
}

.productive-section-content h2 {
   display: flex;
   flex-direction: column; 
}

.productive-section-content > p {
    font-size: 0.9rem;
    margin: 15px 0;
    
}

.productive-section-content a {
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.customers-section {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    margin-bottom: 400px;
}

.customer {
    background-color: hsl(219, 30%, 18%);  
    width: 30%; 
    margin-left: 3%;
    padding: 50px 25px 25px 25px;
    box-shadow: 8px 8px 8px hsl(217, 28%, 15%);
    border-radius: 5px;
}
 .customer > p {
     line-height: 1.5rem;
     font-size: 1rem;
 }

.profile-icon > img {
    border-radius: 50%;
    width: 30px;
}

.profile-view {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;  
}

.early-access-div {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin: auto;
    justify-content: center;
    background-color: hsl(217, 28%, 15%);
    padding: 50px 50px 35px;
    position: absolute;
    top: -130px;
    left: 25%;
}

.early-access-div > h2 {
    font-size: 2.2rem;
}

.early-access-div > p {
    text-align: center;
    margin: 20px 0;
    width: 90%;
    font-size: 1rem;
}

#input-div {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

#input-outline {
    width: 70%;
    background-color: #fff;
    height: 50px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-outline > input {
    width: calc(100% - 60px);
    border: none;
    outline: 0;
}

#input-div > button {
    width: 190px;
    border: none;
    border-radius: 40px;
    margin-left: 25px;
    background-color: hsl(198, 60%, 50%);
    color: #fff;
}

.main-footer {
    width: 100vw;
    background-color: hsl(216, 53%, 9%);
    padding-top: 200px;
    position: relative;
}

#footer-container{
    display: grid;
    grid-template-areas: "logo logo logo logo logo"
                         "location contact links1 links2 social";

    grid-template-columns: 2.5fr 2fr 1fr 1fr 1fr;
    max-width: 1440px;
    margin: auto;
    padding: 0 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    row-gap: 25px;
}

.footer-link{
    margin-bottom: 20px;
    display: flex;
}

.footer-link > a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

#logo-bottom{
    grid-area: logo;
    padding-left: 11.5%;
}

.location{
    grid-area: location;
    display: flex;
    justify-content: flex-start;
    padding-left: 35%;
}

.location > p{
    margin-left: 20px;
}

.contact{
    grid-area: contact;
    display: flex;
    justify-content:center;
}

.links-1{
    grid-area: links1;
    display: flex;
}

.links-2{
    grid-area: links2;
    display: flex;
}

.social-media{
    grid-area: social;
    display: flex;
    padding-right: 70%;
}

.social-media ul{
    display: flex;
}

.social-media ul li{
    margin-left: 10px;
}

.social-media i{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}